<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!-- Fonte da Google -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
        </style>
    
        <!-- Meta Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://seusalgadoecia.com');
            fbq('init', '897218658631462');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=897218658631462&ev=PageView&noscript=1"/>
        </noscript>
        <!-- End Meta Pixel Code -->
    
        <link rel="icon" href="/static/imagens/coxinha.png" type="image/png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Seu Salgado & Cia</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <script src="{% static 'js/scripts.js' %}" defer></script>
    
        <style>  
            /* Botão do WhatsApp */
            .whatsapp-button {
                position: fixed;
                bottom: 20px;
                right: 20px; 
                width: 60px;
                height: 60px;
                background-color: #25d366;
                border-radius: 50%;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 999;
            }
    
            .whatsapp-button img {
                width: 30px;
                height: 30px;
            }
        </style>
    </head>
 
<body>

<!-- Botão de Acessibilidade -->
    <script src="https://cdn.userway.org/widget.js" data-account="CUP9es43fa"></script>

<!-- Botão do WhatsApp -->
<div class="whatsapp-button">
    <a href="https://wa.me/5513997021182" target="_blank" class="whatsapp-button">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/whatsapp.png" alt="WhatsApp">
    </a>
</div>

<nav>
    <img src="/static/imagens/Logo.png" alt="Ícone do Restaurante">
    <ul>
        <li><a href="#home" onclick="showSection('home'); return false;">Home</a></li>
        <li><a href="#promocoes" onclick="showSection('promocoes'); return false;">Promoções</a></li>
        <li><a href="#cardapio" onclick="showSection('cardapio'); return false;">Cardápio</a></li>
        <li><a href="#localizacao" onclick="showSection('localizacao'); return false;">Localização</a></li>
        <li><a href="#peca-ja" onclick="showSection('peca-ja'); return false;">Peça Já!</a></li>
    </ul>
</nav>

<!-- SVG com efeito de ondulação -->
<svg viewBox="0 0 1440 80" xmlns="http://www.w3.org/2000/svg">
    <path d="M0,32L60,42.7C120,53,240,75,360,64C480,53,600,11,720,10.7C840,11,960,53,1080,64C1200,75,1320,53,1380,42.7L1440,32V80H0Z" fill="#81d4fa"/>
</svg>

<section id="home" class="section">
    <div class="home"></div>
    <div class="faixa faixa-1">
        <h2 style="text-align: center;">😍 Sobre Nós 😍</h2><br><br>
        <left><p>Com mais de <strong>40 anos de experiência</strong> na produção de salgados, a <strong>Seu Salgado e Cia</strong> traz para você toda a tradição e qualidade que você procura. Nossa paixão pela culinária se traduz em salgados feitos com ingredientes frescos e selecionados, garantindo um sabor único e irresistível a cada mordida.</p><br><br>

        <p><strong>🥳 Faça do seu dia uma festa!</strong></p><br>

        <p>Seja para um evento especial, um coffee break no trabalho ou simplesmente para matar a vontade, nossos salgados são a escolha perfeita. Contamos com um cardápio variado e delicioso, com opções para todos os gostos. E para completar a sua festa, temos parcerias com as melhores confeitarias, oferecendo combos incríveis de bolo e docinhos.</p><br><br>

        <p><strong>❤️ Qualidade e frescor em cada detalhe!</strong></p><br>

        <p>Acreditamos que a comida boa começa com ingredientes de qualidade. Por isso, utilizamos apenas os melhores ingredientes em nossas receitas, garantindo que nossos salgados sejam sempre frescos e saborosos.</p><br><br>

        <p>💎 Somos um Super-restaurante Ifood!</p>
        <a href="https://www.ifood.com.br/delivery/sao-vicente-sp/seu-salgado--cia-cidade-nautica/91ffa0b1-5625-4513-b490-9fb9577606b4" target="_blank" class="avaliacao-btn">
            Confira aqui nossas avaliações!
        </a>
        
    </div>

    <div class="faixa faixa-2">
        <h2>Funcionamos diariamente das 14:00 às 23:00h! </h2>
        
        <br><p>💳 Aceitamos cartões de crédito, débito e pix 💳</p>
        <br><img src="/static/imagens/cartoes.png" <br><br>
    </div>

    <div class="faixa faixa-3">
        <h2>Instagram feed</h2><br>
        <p>Nos siga nas redes sociais!</p><br><br><br>
        <script src="https://static.elfsight.com/platform/platform.js" async></script>
<div class="elfsight-app-6d5100e1-2954-4462-bdfa-4e16738b20f5" data-elfsight-app-lazy></div>
    </div>
</section>

<section id="promocoes" class="section">
    <center><h1>Promoções</h1></center><br><br>
    <p>
        🛵 <strong>Encomendas</strong> via Whatsapp com 15 dias de antecedência acima de 200 salgados, ganham 20% de desconto + frete grátis para São Vicente e Santos!<br>
        🛵 <strong>Encomendas</strong> via Whatsapp com 7 dias de antecedência acima de 200 salgados, ganham 10% de desconto + frete grátis para São Vicente e Santos!<br><br><br>

        💍 <strong>Programa fidelidade</strong> (junte suas notas):<br>
        Peça 3 vezes dentro de um mês e ganhe 1 refrigerante 2 litros grátis!<br><br><br>

        No dia do seu <strong>aniversário</strong>, o refri é por nossa conta! 🥳🥳🥳<br>
        Para pedidos acima de 200 salgados, nos envie uma foto de sua data de nascimento em seu RG e ganhe um refrigerante 2 litros grátis!!!<br>
    </p>

    <!-- Imagem da pasta de estáticos -->
    <img src="{% static 'imagens/baloes.png' %}" alt="Balões" style="max-width: 100%; height: auto;">

</section>
    
    <section id="cardapio" class="section">
        <h1>Cardápio</h1><br>
        
        <!-- Barra de Busca -->
        <input type="text" id="search-bar" placeholder="Buscar produto..."><br>

        <!-- Ampliação -->
        <div id="largeImageContainer" style="display: none;" onclick="hideLargeImage()">
            <img id="largeImage" alt="Imagem Ampliada">
        </div>                      

        <div class="vitrine-produtos">
            <!-- Produto 1 - Coxinhas -->
            <div class="produto">
                <img src="{% static 'imagens/coxinha.jpg' %}" alt="Coxinhas Crocantes" onclick="showLargeImage(this.src)">
                <h2>Coxinhas Crocantes</h2>
                <h2><p>R$ 69,90 - 100 unidades</p></h2>
                <h2><p>R$ 39,50 - 50 unidades</p></h2>
                <h2><p>R$ 29,50 - 30 unidades</p></h2>
            </div>

            <!-- Produto 2 - Bolinha de Queijo -->
            <div class="produto">
                <img src="{% static 'imagens/Bolinha de Queijo.jpg' %}" alt="Bolinha de Queijo" onclick="showLargeImage(this.src)">
                <h2>Bolinha de Queijo</h2>
                <h2><p>R$ 69,90 - 100 unidades</p></h2>
                <h2><p>R$ 39,50 - 50 unidades</p></h2>
                <h2><p>R$ 29,50 - 30 unidades</p></h2>
            </div>

            <!-- Produto 3 - Croquete de Carne -->
            <div class="produto">
                <img src="{% static 'imagens/Croquete.jpg' %}" alt="Croquete" onclick="showLargeImage(this.src)">
                <h2>Croquete de Carne</h2>
                <h2><p>R$ 69,90 - 100 unidades</p></h2>
                <h2><p>R$ 39,50 - 50 unidades</p></h2>
                <h2><p>R$ 29,50 - 30 unidades</p></h2>
            </div>

            <!-- Produto 4 - Enroladinho de Salsicha -->
            <div class="produto">
                <img src="{% static 'imagens/Enroladinho.jpg' %}" alt="Enroladinho de Salsicha" onclick="showLargeImage(this.src)">
                <h2>Enroladinho de Salsicha</h2>
                <h2><p>R$ 69,90 - 100 unidades</p></h2>
                <h2><p>R$ 39,50 - 50 unidades</p></h2>
                <h2><p>R$ 29,50 - 30 unidades</p></h2>
            </div>

            <!-- Produto 5 - Kibe Tradicional -->
            <div class="produto">
                <img src="/static/imagens/Kibe.jpg" alt="Kibe Tradicional" onclick="showLargeImage(this.src)">
                <h2>Kibe Tradicional</h2>
                <h2><p>R$ 69,90 - 100 unidades</p></h2>
                <h2><p>R$ 39,50 - 50 unidades</p></h2>
                <h2><p>R$ 29,50 - 30 unidades</p></h2>
            </div>

            <!-- Produto 6 - Maravilha de Presunto e Queijo -->
            <div class="produto">
                <img src="/static/imagens/Maravilha_p.jpg" alt="Maravilha de Presunto e Queijo" onclick="showLargeImage(this.src)">
                <h2>Maravilha de Presunto e Queijo</h2>
                <h2><p>R$ 69,90 - 100 unidades</p></h2>
                <h2><p>R$ 39,50 - 50 unidades</p></h2>
                <h2><p>R$ 29,50 - 30 unidades</p></h2>
            </div>

            <!-- Produto 7 - Maravilha de Calabresa -->
            <div class="produto">
                <img src="/static/imagens/Maravilha_c.jpg" alt="Maravilha de Calabresa" onclick="showLargeImage(this.src)">
                <h2>Maravilha de Calabresa</h2>
                <h2><p>R$ 69,90 - 100 unidades</p></h2>
                <h2><p>R$ 39,50 - 50 unidades</p></h2>
                <h2><p>R$ 29,50 - 30 unidades</p></h2>
            </div>

            <!-- Produto 8 - Mini Churros -->
            <div class="produto">
                <img src="/static/imagens/Churros.jpg" alt="Mini Churros" onclick="showLargeImage(this.src)">
                <h2>Mini Churros</h2>
                <h2><p>R$ 79,90 - 100 unidades</p></h2>
                <h2><p>R$ 55,50 - 50 unidades</p></h2>
                <h2><p>R$ 35,00 - 30 unidades</p></h2>
            </div>

            <!-- Produto 9 - Salgados Congelados -->
            <div class="produto">
                <img src="/static/imagens/Congelados.jpg" alt="Salgados Congelados" onclick="showLargeImage(this.src)">
                <h2>Salgados Congelados</h2>
                <h2><p>R$ 64,90 - 100 unidades</p></h2>
                <h2><p>R$ 34,50 - 50 unidades</p></h2>
                <h2><p>R$ 24,50 - 30 unidades</p></h2>
            </div>
        </div>
    </section>

    <section id="localizacao" class="section">
        <h1>Localização</h1><br><br>
        <p>Estamos localizados no endereço abaixo:</p><br>
        <p>Av. Manoel de Abreu, 560 - Cidade Náutica, São Vicente - SP, 11355-400</p><br>
        <p>CNPJ: 51.019.361/0001-10</p><br><br>

        <!-- Mapa do Google Maps -->
        <div class="map-container">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3646.2704319298905!2d-46.412239525471236!3d-23.950875476016265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce1b9a1a7254c3%3A0x702ac4fbca58b7ea!2sAv.%20Manoel%20de%20Abreu%2C%20560%20-%20Cidade%20N%C3%A1utica%2C%20S%C3%A3o%20Vicente%20-%20SP%2C%2011355-400!5e0!3m2!1spt-BR!2sbr!4v1726234658382!5m2!1spt-BR!2sbr"
                class="map-iframe">
            </iframe>
        </div>
    </section>    

    <section id="peca-ja" class="section">
        <h1>Peça Já!</h1><br>
        <img src="static/imagens/Salgados.png" alt="Salgados" class="salgados-img">
        <p><strong>Faça seu pedido online agora mesmo!</strong></p>
        <p>Funcionamos diariamente das 14:00 às 23:00h</p>
    
        <div class="text-box">
            <a href="https://www.ifood.com.br/delivery/sao-vicente-sp/seu-salgado--cia-cidade-nautica/91ffa0b1-5625-4513-b490-9fb9577606b4" class="btn btn-white btn-animated">iFood</a>
            <a href="https://www.whatsapp.com/catalog/5513997021182/?app_absent=0" class="btn btn-white btn-animated">Whatsapp</a>
            <a href="https://instadelivery.com.br/seusalgadocia" class="btn btn-white btn-animated">InstaDelivery</a>

        </div>
        <br><br><p>💳 Aceitamos cartões de crédito, débito e pix 💳</p>
        <br><img src="/static/imagens/cartoes.png"
    </section>